*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.wrap{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,#2D2C2C, #383636);
    scroll-behavior: smooth;
}
.container{
    padding: 49px 8%;
}
header{
    width: 100%;
}
.header .logo{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .logo img{
	box-sizing: border-box;
	width: 150px;
}
header nav{
    display: flex;
}
header nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 7%;
    transition: 0.2s;
}
header nav a:not(:first-of-type, :last-of-type):hover{
    transform: translateY(-5px);
}
header nav a:first-child{
    text-transform: uppercase;
    margin-right: auto;
    margin-left: 0;
    font-size: 24px;
}    
header nav a:first-child:hover{
    letter-spacing: 3px;
}    
header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

header nav a:nth-child(2){
    color: #F3C58E;
}

header nav a:last-child{
    display: none;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 1012px){
    header nav a{
        font-size: 15px;
    }
    header nav a:first-child{
        font-size: 20px;
    }
}
@media only screen and (max-width: 755px){
    header nav a:not(:first-of-type, :last-of-type){
        display: none;
    }
    header nav a:last-of-type{
        display: block;
        font-size: 24px;
    }
    .container{
        padding-top: 35px;
    }
    header nav a:first-child{
        font-size: 24px;
    }
    .hamburger.active{
        display: block;
    }
    .hamburger a{
        border-bottom: 1px solid white;
        display: block;
        color: white;
        text-decoration: none;
        font-size: 18px;
        margin-left: 7%;
        transition: 0.2s;
        height: 40px;
        text-align: right;
        margin-top: 20px;
    }
    .hamburger a:first-child{
        color: #F3C58E;
    }
}
hr{
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.main{
	margin-top: 100px;
	color: white;
}
.main h1{
	text-align: center;
	font-size: 40px;
	font-weight: normal;
}
.category{
	margin-top: 30px;
	display: inline-block;
	padding: 15px;
	text-align: center;
	border: 1px dashed #808080;
	min-height: 250px;
}
.category h4{
	font-weight: lighter;
	margin-bottom: 15px;
	font-size: 24px;
}
.category a{
	color: white;
}
.categories{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
}