*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.wrap{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,#2D2C2C, #383636);
}
.container{
    padding: 49px 8%;
}
header{
    width: 100%;
}
<<<<<<< HEAD
.header .logo{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .logo img{
	box-sizing: border-box;
	width: 150px;
=======
header nav{
    display: flex;
}
header nav a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin-left: 7%;
    transition: 0.2s;
>>>>>>> 9b8146f9d2af5519518c8daff96ab77e1ec2360d
}
header nav a:not(:first-of-type, :last-of-type):hover{
    transform: translateY(-5px);
}
header nav a:first-child{
    text-transform: uppercase;
    margin-right: auto;
    margin-left: 0;
    font-size: 24px;
}    
header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

header nav a:nth-child(2){
    color: #F3C58E;
}

header nav a:last-child{
    display: none;
}
.main{
    width: 100%;
    min-height: 626px;
}
.main p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 48px;
    width: 430px;
}
.main button{
    width: 233px;
    height: 64px;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    cursor:pointer;
    transition: 0.5s ease-in-out;
}
.hamburger{
    display: none;
}
.main button:first-of-type{
    background-color: #F3C58E;
    border: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.74);
}
.main button:last-of-type{
    background-color: transparent;
    border: 1px solid #F3C58E;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main .left-side p{
    margin-bottom: 36px;
}
.main .right-side img{
    width: 36vw;
    max-width: 436px;
    height: auto;
}
@media only screen and (max-width: 1012px){
    header nav a{
        font-size: 15px;
    }
    header nav a:first-child{
        font-size: 20px;
    }
}
@media only screen and (max-width: 755px){
    header nav a:not(:first-of-type, :last-of-type){
        display: none;
    }
    header nav a:last-of-type{
        display: block;
        font-size: 24px;
    }
    .main{
        min-height: 500px;
    }
    .container{
        padding-top: 35px;
    }
    header nav a:first-child{
        font-size: 24px;
    }
    .main p{
        font-size: 40px;
    }
    .hamburger.active{
        display: block;
    }
    .hamburger a{
        border-bottom: 1px solid white;
        display: block;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 18px;
        margin-left: 7%;
        transition: 0.2s;
        height: 40px;
        text-align: right;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1066px){
    .main .right-side{
        display: none;
    }
    .main{
        justify-content: left;
    }
    .main .buttons{
        justify-self: end;
    }
}
hr{
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}
@media only screen and (max-width: 610px){
    .buttons button:last-of-type{
        margin-top: 20px;   
    }
    .left-side{
        width: 100vw;
        text-align: center;
    }
    .left-side p{
        width: 100%;
    }
    .buttons button{
        margin-right: 0 !important;
    }
}